/* Universal Selectors */
* {
box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
}

/* Navbar content */
.arrow-left {
  color: white;
  float: left;

  padding-top: 2.5rem;
  padding-left: 3rem;
}

nav {
  background-color: #00697F;
  position: fixed;
  height: 14.5rem;
  width: 100%;
}

h1 {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  color: white;
  padding: 3.7rem;
}

.map-image {
  height: 750px;
}

img {
  width: 61.2rem;
}

/* Header: Line, Destination, Arrival */
.list-header {
  background-color: white;
  padding-top: 1.5rem;
}

.line, .destination, .arrival {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 0.7rem;
  text-transform: uppercase;
}

.line {
  padding-left: 2.3rem; /* control spacing from left-edge */
  padding-right: 3.6rem; /* control spacing between 'line' and 'destination' */
}

.destination {
  padding-right: 14rem; /* control spacing between 'destination' and 'arrival'*/
}
/*-------------------------------- */

/* Controls size of each row */
.grid {
  border-top: 0.1rem solid;
  border-bottom: 0.1rem solid;
  border-color: #e5e5e5;
  padding-bottom: 23%;
}

.scroll {
  padding-top: 107%;
}

.green-indicator {
  background-color: #98E175;
  float: left;
  height: 14rem;
  width: 1rem;
}

.orange-indicator {
  background-color: orange;
  float: left;
  height: 14rem;
  width: 1rem;
}

.red-indicator {
  background-color: #F55757;
  float: left;
  height: 14rem;
  width: 1rem;
}

.bus-number {
  float: left;
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem 0rem 2rem 1.4rem;
  width: 123.13px;
}

/* column chunk for destination:
so I can group destination name, direction, and frequency together as one column */
.location {
  float: left;
  min-width: 500.44px;
  padding: 2rem 0rem 2rem 3rem;
}

/* column chunk for arrival:
so I can group the time and minutes together as one column  */
.times {
  float: left;
  padding: 2rem 0rem 2rem 2rem;
}

/* created this div class `break` to help align my arrows; the width of the times
(i.e. 9:45 AM vs 10:05 AM were different, so arrows were not aligning properly
since 10:05 AM is longer)*/

.break {
  background-color: white;
  float: left;
  height: 14rem;
  width: 4rem;
}

/* used this to align the three arrows that weren't ligning up due to the
longer width of the time */
.align {
  height: 14rem;
  width: 3rem;
}

/* Control text styling for route info and times */
.destination-name {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 3%;
}

.direction {
  color: gray;
  font-size: 2.1rem;
  font-weight: 300;
}

.frequency {
  color: black;
  font-size: 2.1rem;
  font-weight: 400;
  padding-top: 10%;
}

.actual-time {
  font-size: 2.4rem;
  font-weight: 600;
  min-width: 160px;
  padding-bottom: 7%;
}

.minutes {
  color: gray;
  font-size: 2rem;
  font-weight: 300;
  text-align: right;
}

/* control arrow styling/positioning */
.arrow-right {
  color: gray;
  float: left;
  padding-top: 5rem;
}
