* {
box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 100%;
}

nav {
  background-color: #00697F;
  position: fixed;
  height: 14rem;
  width: 100%;
}

/* Screenshot of Map */
.map-image {
  padding-top: 12rem;
}

img {
  width: 61.2rem;
}

/* ------------------------------- */

h1 {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  color: white;
  padding: 4rem;
}

/* Line, Destination, Arrival: Header */
.list-header {
  padding: 1.2rem;
}

.line, .destination, .arrival {
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
}

.line {
  padding-left: 1.3rem;
  padding-right: 3.4rem;
}

.destination {
  padding-right: 13.8rem;
}
/*-------------------------------- */

/* Controls size of each box */
.grid {
  border-top: 0.1rem solid;
  border-bottom: 0.1rem solid;
  border-color: #e5e5e5;
  padding-bottom: 23%;
}

.green-indicator {
  float: left;
  height: 14rem;
  width: 1rem;
  background-color: #98E175;
}

.orange-indicator {
  float: left;
  height: 14rem;
  width: 1rem;
  background-color: orange;
}

.red-indicator {
  float: left;
  height: 14rem;
  width: 1rem;
  background-color: #F55757;
}

.bus-number {
  float: left;
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem 0rem 2rem 1.4rem;
  width: 123.13px;
}

/* column chunk for destination:
so I can group destination name, direction, and frequency together */
.location {
  float: left;
  padding: 2rem 0rem 2rem 3rem;
  min-width: 500.44px;
}

/* column chunk for arrival:
so I can group the time and minutes together  */
.times {
  float: left;
  padding: 2rem 0rem 2rem 2rem;
}

.break {
  float: left;
  height: 14rem;
  width: 4rem;
  background-color: white;
}


/* use this to control space b/t Randolph and Easbound */
.destination-name {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 3%;
}

.direction {
  color: gray;
  font-size: 2.1rem;
  font-weight: 300;
}

.frequency {
  color: gray;
  font-size: 2.1rem;
  font-weight: 300;
  padding-top: 9%;
}

.actual-time {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 7%;
  min-width: 160px;
}

.minutes {
  color: gray;
  font-size: 2rem;
  font-weight: 300;
  text-align: right;
}

.arrow-right {
  color: gray;
  float: left;
  padding-top: 5rem;
}

/* ------------------------------------------- */
.stony {
  height: 14rem;
  width: 3rem;
}
